.btn1 {
  /* min-width: 1200px; */
  min-height: 720px;
 /*  min-height: 666px; */
  /* to right设置渐变从左到右，相当于90deg */
 /*  background: linear-gradient(to right, #109dfa, #0bacfa, #05bafa); */
  background: linear-gradient( #109dfa, #0bacfa, #05bafa);
}
.btn-margin {
    margin-top: 80px;
  }
  .el-col {
    border-radius: 4px;
  }
  
  .bg-purple {
    background: #f5f5f5;
  }
  
  .grid-content {
    border-radius: 4px;
    width: 430px;
    height: 510px;
    margin-left: -30px;
   
  }

  /* 背景图片图片 */
  .grid-contente {
    border-radius: 4px;
    width: 633px;
    height: 435px;
    margin-top: 160px;
    margin-left: -150px;
    background-image: url('../img/login1.png');
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
